<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>DESC meeting participants</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>

</head>

<body>

  <div class="container">
    <!-- <h2>LSST DESC Meeting participants</h2> -->
    <!-- <br> -->
    Number of registered participants: {{data|length}}, with {{n_in_person}} in-person <br>
    Sites: {{sites}}<br>
    <br>

    <br>
    <table>
      <thead>
        <tr>
          <th scope="col">Site</th>
          <th scope="col"># registrants</th>
        </tr>
      </thead>
      <tbody>
        {% for item in sites %}
        <tr>
          <td>{{item}}</td>
          <td>{{sites[item]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <br>
    Data: {{data}}<br>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">First Namexx</th>
          <th scope="col">Last Name</th>
          <th scope="col">Affiliation</th>
	  <th scope="col">Site</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
	{{item}} <br>
        <tr>
          <td>{{item.first_nameyy}}</td>
          <td>{{item.last_name}}</td>
          <td>{{item.affiliation}}</td>
	  <td>{{item.site}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>
